In [18]:

import os
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from splinter import Browser
import time
from selenium import webdriver

In [2]:
background_df = pd.read_csv("./Resources/firearm-bc.csv")
background_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2022-08,Alabama,20271.0,326.0,18400.0,13679.0,1315.0,1074,0.0,15.0,...,0.0,0.0,0.0,28.0,25.0,3.0,0.0,1.0,0.0,58549
1,2022-08,Alaska,291.0,16.0,3225.0,3005.0,373.0,208,0.0,2.0,...,0.0,0.0,0.0,4.0,2.0,0.0,1.0,0.0,0.0,7400
2,2022-08,Arizona,8278.0,2029.0,19079.0,9304.0,1947.0,1239,0.0,7.0,...,2.0,0.0,0.0,12.0,6.0,2.0,0.0,0.0,0.0,43789
3,2022-08,Arkansas,2585.0,334.0,6885.0,5697.0,516.0,427,14.0,8.0,...,0.0,0.0,0.0,7.0,8.0,1.0,0.0,1.0,0.0,18508
4,2022-08,California,39274.0,14674.0,39236.0,25005.0,5743.0,0,0.0,0.0,...,82.0,0.0,0.0,7708.0,3463.0,647.0,15.0,19.0,18.0,138358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15725,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
15726,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
15727,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
15728,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
15729,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [3]:
#reducing the DF
short_df = background_df[["month", "state","permit","permit_recheck","handgun","long_gun", "other", "multiple"]].copy()

short_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple
0,2022-08,Alabama,20271.0,326.0,18400.0,13679.0,1315.0,1074
1,2022-08,Alaska,291.0,16.0,3225.0,3005.0,373.0,208
2,2022-08,Arizona,8278.0,2029.0,19079.0,9304.0,1947.0,1239
3,2022-08,Arkansas,2585.0,334.0,6885.0,5697.0,516.0,427
4,2022-08,California,39274.0,14674.0,39236.0,25005.0,5743.0,0
...,...,...,...,...,...,...,...,...
15725,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8
15726,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8
15727,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5
15728,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2
15729,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5

In [4]:
#drop row with NAN
reduced_df = short_df.dropna()
reduced_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple
0,2022-08,Alabama,20271.0,326.0,18400.0,13679.0,1315.0,1074
1,2022-08,Alaska,291.0,16.0,3225.0,3005.0,373.0,208
2,2022-08,Arizona,8278.0,2029.0,19079.0,9304.0,1947.0,1239
3,2022-08,Arkansas,2585.0,334.0,6885.0,5697.0,516.0,427
4,2022-08,California,39274.0,14674.0,39236.0,25005.0,5743.0,0
...,...,...,...,...,...,...,...,...
4340,2016-02,Virginia,784.0,0.0,30085.0,15948.0,1133.0,0
4341,2016-02,Washington,15736.0,0.0,20583.0,11991.0,1832.0,863
4342,2016-02,West Virginia,3527.0,0.0,10746.0,7436.0,357.0,757
4343,2016-02,Wisconsin,9420.0,0.0,19465.0,12431.0,821.0,62
4344,2016-02,Wyoming,551.0,0.0,2287.0,2036.0,139.0,150

In [5]:

month_df=reduced_df['month'].str.split('-', expand=True)
year_df= month_df.rename(columns={0: "Year"})
year_df

      Year   1
0     2022  08
1     2022  08
2     2022  08
3     2022  08
4     2022  08
...    ...  ..
4340  2016  02
4341  2016  02
4342  2016  02
4343  2016  02
4344  2016  02

[4345 rows x 2 columns]

In [6]:
y_df= year_df[["Year"]].copy()
y_df

      Year
0     2022
1     2022
2     2022
3     2022
4     2022
...    ...
4340  2016
4341  2016
4342  2016
4343  2016
4344  2016

[4345 rows x 1 columns]

In [7]:
joined_df=reduced_df.join(y_df)
joined_df

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,Year
0,2022-08,Alabama,20271.0,326.0,18400.0,13679.0,1315.0,1074,2022
1,2022-08,Alaska,291.0,16.0,3225.0,3005.0,373.0,208,2022
2,2022-08,Arizona,8278.0,2029.0,19079.0,9304.0,1947.0,1239,2022
3,2022-08,Arkansas,2585.0,334.0,6885.0,5697.0,516.0,427,2022
4,2022-08,California,39274.0,14674.0,39236.0,25005.0,5743.0,0,2022
...,...,...,...,...,...,...,...,...,...
4340,2016-02,Virginia,784.0,0.0,30085.0,15948.0,1133.0,0,2016
4341,2016-02,Washington,15736.0,0.0,20583.0,11991.0,1832.0,863,2016
4342,2016-02,West Virginia,3527.0,0.0,10746.0,7436.0,357.0,757,2016
4343,2016-02,Wisconsin,9420.0,0.0,19465.0,12431.0,821.0,62,2016
4344,2016-02,Wyoming,551.0,0.0,2287.0,2036.0,139.0,150,2016

In [8]:
cutting_df=joined_df.drop(["month"], axis=1)
cutting_df

,state,permit,permit_recheck,handgun,long_gun,other,multiple,Year
0,Alabama,20271.0,326.0,18400.0,13679.0,1315.0,1074,2022
1,Alaska,291.0,16.0,3225.0,3005.0,373.0,208,2022
2,Arizona,8278.0,2029.0,19079.0,9304.0,1947.0,1239,2022
3,Arkansas,2585.0,334.0,6885.0,5697.0,516.0,427,2022
4,California,39274.0,14674.0,39236.0,25005.0,5743.0,0,2022
...,...,...,...,...,...,...,...,...
4340,Virginia,784.0,0.0,30085.0,15948.0,1133.0,0,2016
4341,Washington,15736.0,0.0,20583.0,11991.0,1832.0,863,2016
4342,West Virginia,3527.0,0.0,10746.0,7436.0,357.0,757,2016
4343,Wisconsin,9420.0,0.0,19465.0,12431.0,821.0,62,2016
4344,Wyoming,551.0,0.0,2287.0,2036.0,139.0,150,2016

In [9]:
total_states = cutting_df["state"].nunique()
total_states

55

In [10]:
grouped_state_df = cutting_df.groupby(["state"])

In [11]:
total_permit =grouped_state_df["permit"].sum()

In [12]:
total_permit_recheck =grouped_state_df["permit_recheck"].sum()

In [13]:
total_handgun =grouped_state_df["handgun"].sum()

In [14]:
total_long_gun =grouped_state_df["long_gun"].sum()

In [15]:
total_other =grouped_state_df["other"].sum()

In [16]:
total_multiple =grouped_state_df["multiple"].sum()

In [17]:
Check_Summary_df = pd.DataFrame({"Total permit" : total_permit,
      "Total permit_recheck" : total_permit_recheck,
      "Total handgun" : total_handgun,
      "Total long_gun" : total_long_gun,
      "Total other" : total_other,
      "Total multiple" : total_multiple,
      })
Check_Summary_df

,Total permit,Total permit_recheck,Total handgun,Total long_gun,Total other,Total multiple
state,,,,,,
Alabama,2101078.0,23815.0,1281150.0,924019.0,72211.0,60042
Alaska,17555.0,1243.0,243305.0,227508.0,25263.0,16442
Arizona,564451.0,49883.0,1385488.0,744420.0,118083.0,87491
Arkansas,293123.0,55598.0,580778.0,528715.0,30917.0,33579
California,3271982.0,236306.0,3439158.0,2433618.0,539235.0,11
Colorado,607748.0,496.0,1646716.0,1124123.0,127256.0,114153
Connecticut,671894.0,29043.0,506893.0,180308.0,75808.0,0
Delaware,37690.0,0.0,182496.0,131253.0,12956.0,8647
District of Columbia,29004.0,1.0,15187.0,453.0,2.0,129
Florida,1783579.0,0.0,4844584.0,1942659.0,344116.0,214773
Georgia,1616299.0,3.0,1474017.0,818278.0,60508.0,67210
Guam,0.0,0.0,11310.0,5221.0,1361.0,626
Hawaii,105005.0,25.0,0.0,0.0,0.0,0
Idaho,478209.0,460.0,423030.0,425207.0,36037.0,23645
Illinois,6291732.0,20464203.0,2008377.0,963868.0,18292.0,71616
Indiana,1886918.0,3816546.0,1821969.0,1102307.0,137306.0,72896
Iowa,674698.0,428042.0,54248.0,229427.0,5122.0,1539
Kansas,141184.0,1664.0,551534.0,459229.0,47646.0,32290
Kentucky,13934492.0,10918780.0,986124.0,727484.0,40912.0,52753
Louisiana,196951.0,12736.0,1068601.0,771244.0,76519.0,59056
Maine,46817.0,225.0,308266.0,304090.0,26050.0,17414
Mariana Islands,0.0,0.0,704.0,522.0,77.0,76
Maryland,348231.0,831.0,467307.0,494270.0,13778.0,1988
Massachusetts,733454.0,43.0,447418.0,244429.0,57774.0,18265
Michigan,1561807.0,254109.0,1475745.0,1110888.0,105307.0,41232
Minnesota,1861878.0,1308730.0,840376.0,900545.0,76026.0,38643
Mississippi,167420.0,1.0,813708.0,598788.0,36484.0,38095
Missouri,243955.0,259.0,1752539.0,1315696.0,146192.0,96177
Montana,113417.0,214.0,293339.0,367164.0,21929.0,21865
Nebraska,348369.0,6805.0,11816.0,163149.0,2106.0,438
Nevada,214020.0,0.0,479694.0,235161.0,30023.0,27888
New Hampshire,143575.0,123.0,475969.0,275847.0,16406.0,187
New Jersey,0.0,0.0,524786.0,350091.0,31607.0,0
New Mexico,74242.0,0.0,540186.0,367511.0,45705.0,29781
New York,269768.0,134494.0,785415.0,1314957.0,153875.0,22272
North Carolina,2472239.0,3639.0,138739.0,1190023.0,89285.0,18793
North Dakota,58224.0,314.0,151880.0,223316.0,11492.0,8203
Ohio,1085653.0,18321.0,2255490.0,1403880.0,143612.0,101662
Oklahoma,135812.0,250.0,1088627.0,801057.0,105547.0,80238
Oregon,367359.0,31106.0,1286155.0,890837.0,0.0,541
Pennsylvania,2245614.0,10.0,4062258.0,1393125.0,3435.0,0
Puerto Rico,0.0,0.0,201965.0,18376.0,5516.0,2628
Rhode Island,0.0,0.0,100757.0,66181.0,8176.0,19084
South Carolina,843170.0,25404.0,992470.0,567357.0,61458.0,43934
South Dakota,74768.0,1093.0,225482.0,293059.0,19113.0,13734
Tennessee,1244636.0,200751.0,2291639.0,1372797.0,121064.0,9821
Texas,2596180.0,0.0,4661789.0,2926417.0,320828.0,251298
Utah,1145716.0,2736612.0,394520.0,366317.0,33172.0,1017
Vermont,3.0,0.0,135964.0,133013.0,11134.0,7599
Virgin Islands,7420.0,0.0,2563.0,286.0,18.0,41
Virginia,70840.0,15351.0,2152444.0,1331494.0,255592.0,5
Washington,1280668.0,15880.0,1624937.0,1004646.0,257809.0,35132
West Virginia,210225.0,4727.0,542205.0,519123.0,27931.0,33954
Wisconsin,1240135.0,32132.0,1405853.0,1057908.0,85659.0,4133
Wyoming,41876.0,981.0,177227.0,184878.0,13369.0,10354

In [19]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.68M/6.68M [00:00<00:00, 10.0MB/s]

In [47]:
url ="https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od=2016-01-01"
browser.visit(url)
data0_df = pd.read_html(url)
df_0=data0_df[0]
df_0.columns = ["Unnamed: 0_level_1","Name","2016","Preceding Period","Year Ago from Period"]
df_0.head()

,Unnamed: 0_level_1,Name,2016,Preceding Period,Year Ago from Period
0,NaN,The United States,66657,64631,64631
1,NaN,Alabama,53314,50900,50900
2,NaN,Alaska,85494,85898,85898
3,NaN,Arizona,64468,59751,59751
4,NaN,Arkansas,51830,48944,48944

In [48]:
reduce0_df=df_0.drop(["Unnamed: 0_level_1","Year Ago from Period"], axis=1)
reduce0_df.head()

                Name   2016  Preceding Period
0  The United States  66657             64631
1            Alabama  53314             50900
2             Alaska  85494             85898
3            Arizona  64468             59751
4           Arkansas  51830             48944

In [41]:
#
url_1 ="https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od=2018-01-01"
browser.visit(url_1)
data1_df = pd.read_html(url_1)
df_1=data1_df[0]
df_1.columns = ["Unnamed: 0_level_1","Name","2018","Preceding Period","Year Ago from Period"]
df_1.head()

,Unnamed: 0_level_1,Name,2018,Preceding Period,Year Ago from Period
0,NaN,The United States,68168,67571,67571
1,NaN,Alabama,53879,56219,56219
2,NaN,Alaska,74161,86196,86196
3,NaN,Arizona,67201,65984,65984
4,NaN,Arkansas,53712,54988,54988

In [42]:
reduce1_df=df_1.drop(["Unnamed: 0_level_1","Year Ago from Period"], axis=1)
reduce1_df.head()

                Name   2018  Preceding Period
0  The United States  68168             67571
1            Alabama  53879             56219
2             Alaska  74161             86196
3            Arizona  67201             65984
4           Arkansas  53712             54988

In [43]:
url_2 ="https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od=2020-01-01"
browser.visit(url_2)
data2_df = pd.read_html(url_2)
df_2=data2_df[0]
df_2.columns = ["Unnamed: 0_level_1","Name","2020","Preceding Period","Year Ago from Period"]
df_2.head()

,Unnamed: 0_level_1,Name,2020,Preceding Period,Year Ago from Period
0,NaN,The United States,71186,72808,72808
1,NaN,Alabama,57243,59558,59558
2,NaN,Alaska,78236,83079,83079
3,NaN,Arizona,70220,74897,74897
4,NaN,Arkansas,53148,57799,57799

In [44]:
reduce2_df=df_2.drop(["Unnamed: 0_level_1","Year Ago from Period"], axis=1)
reduce2_df.head()

                Name   2020  Preceding Period
0  The United States  71186             72808
1            Alabama  57243             59558
2             Alaska  78236             83079
3            Arizona  70220             74897
4           Arkansas  53148             57799

In [31]:
url_3 ="https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od="
browser.visit(url_3)
data3_df = pd.read_html(url_3)
df_3=data3_df[0]
df_3.columns = ["Unnamed: 0_level_1","Name","2021","Preceding Period","Year Ago from Period"]
df_3.head()

,Unnamed: 0_level_1,Name,2021,Preceding Period,Year Ago from Period
0,NaN,The United States,70784,71186,71186
1,NaN,Alabama,56929,57243,57243
2,NaN,Alaska,81133,78236,78236
3,NaN,Arizona,70821,70220,70220
4,NaN,Arkansas,50784,53148,53148

In [33]:
reduce3_df=df_3.drop(["Unnamed: 0_level_1","Preceding Period","Year Ago from Period"], axis=1)
reduce3_df.head()

                Name   2021
0  The United States  70784
1            Alabama  56929
2             Alaska  81133
3            Arizona  70821
4           Arkansas  50784